@page "/identity/manage/external-sign-ins"
@inject IHtmlLocalizer<Strings> Localizer
@model ExternalLoginsModel
@{
    ViewData["Title"] = Localizer["Menu_ExternalSignIns"];
    ViewData["ActivePage"] = ManageNavPages.ExternalLogins;
}

<partial name="_StatusMessage" for="StatusMessage" />
@if (Model.CurrentLogins?.Count > 0)
{
    <h4>@Localizer["RegisteredExternalSignIns"]</h4>
    <table class="table table-sm2 table-bordered2">
        <tbody>
            @foreach (var login in Model.CurrentLogins)
            {
                <tr>
                    <td><i class="fab fa-@login.LoginProvider.ToLower()"></i>&nbsp;&nbsp;@Localizer[login.LoginProvider]</td>
                    <td>
                        @if (Model.ShowRemoveButton)
                        {
                            <form id="remove-login" asp-page-handler="RemoveLogin" method="post">
                                <div>
                                    <input asp-for="@login.LoginProvider" name="LoginProvider" type="hidden" />
                                    <input asp-for="@login.ProviderKey" name="ProviderKey" type="hidden" />
                                    <button type="submit" class="btn btn-light b-white-button text-primary p-0 pl-2 pr-2" title="@Localizer["Remove0SignInFromYourAccount", Localizer[login.LoginProvider]]">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                            </form>
                        }
                        else
                        {
                            @: &nbsp;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (Model.OtherLogins?.Count > 0)
{
    <h4>@Localizer["AddAnExternalSignIn"]</h4>
    <hr />
    <form id="link-login-form" asp-page-handler="LinkLogin" method="post" class="form-horizontal">
        <div id="socialLoginList">
            <p>
                @foreach (var provider in Model.OtherLogins)
                {
                    <button id="link-login-button" type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="@Localizer["SignInUsingYour0Account", Localizer[provider.Name]]">
                        <i class="font-weight-normal fab fa-@provider.Name.ToLower()"></i>&nbsp;&nbsp;@Localizer[provider.Name]
                    </button>
                }
            </p>
        </div>
    </form>
}