@page "/identity/manage/show-recovery-codes"
@inject IHtmlLocalizer<Strings> Localizer
@model ShowRecoveryCodesModel
@{
    ViewData["Title"] = Localizer["RecoveryCodes"];
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}


<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<hr />
<div class="alert alert-warning mt-2" role="alert">
    <p>
        <i class="fas fa-exclamation-triangle"></i>&nbsp;
        <strong>@Localizer["RecoveryCodesWarningTitle"]</strong>
    </p>
    <p>
        @Localizer["RecoveryCodesWarningBody"]
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
        {
            <code class="recovery-code">@Model.RecoveryCodes[row]</code><text>&nbsp;&nbsp;</text><code class="recovery-code">@Model.RecoveryCodes[row + 1]</code><br />
        }
    </div>
</div>
