@page "/identity/manage/two-factor-authentication"
@inject IHtmlLocalizer<Strings> Localizer
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = Localizer["Page_TwoFactorAuthentication"];
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft <= 2)
    {
        <div class="alert alert-warning">
            <p>
                <i class="fas fa-exclamation-triangle"></i>&nbsp;
                <strong>@Localizer["RecoveryCodesLeft0", @Model.RecoveryCodesLeft]</strong>
            </p>
            <p>@Localizer["YouShouldGenerateNewRecoveryCodes"] <a asp-page="./GenerateRecoveryCodes">@Localizer["ClickHere"]</a>.</p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-primary mb-1">@Localizer["ForgetThisBrowser"]</button>
        </form>
    }
    <a asp-page="./Disable2fa" class="btn btn-primary mb-1">@Localizer["Button_DisableTwoFactorAuthentication"]</a>
    <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary mb-1">@Localizer["ResetRecoveryCodes"]</a>
}

<h4 class="mt-4">@Localizer["AuthenticatorApp"]</h4>

<a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary mb-1">@Localizer["ConfigureAuthenticatorApp"]</a>
@if (Model.HasAuthenticator)
{
    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary mb-1">@Localizer["ResetAuthenticatorKey"]</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}